<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn">


  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>


  <targets>
    <target xsi:type="Null" name="blackhole" />
    <target name="database" xsi:type="Database"
				  dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" 
          connectionString="${configsetting:item=ConnectionStrings.Progreso}">

      <commandText>
        insert into tbl_log (
        Application, Logged, Level, Message,
        Logger, CallSite, Exception
        ) values (
        @Application, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception
        );
      </commandText>

      <parameter name="@Application" layout="AspNetCoreNlog" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />

      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite:filename=true}" />
      <parameter name="@Exception" layout="${exception:format=stackTrace}" />
    </target>

  </targets>

  <rules>
    
    <!--All logs, including from Microsoft-->

    <logger levels="Error,Fatal" name="*" writeTo="database"/>

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>